git+https://github.com/OpenG2P/openg2p-registry@v15.0-1.0.4#subdirectory=setup/g2p_registry_base
git+https://github.com/OpenG2P/openg2p-registry@v15.0-1.0.4#subdirectory=setup/g2p_registry_group
git+https://github.com/OpenG2P/openg2p-registry@v15.0-1.0.4#subdirectory=setup/g2p_registry_individual
git+https://github.com/OpenG2P/openg2p-registry@v15.0-1.0.4#subdirectory=setup/g2p_registry_membership
git+https://github.com/OpenSPP/openspp-registry@rc/15.0.1.0.16#subdirectory=setup/spp_event_data
git+https://github.com/OpenSPP/openspp-registry@rc/15.0.1.0.16#subdirectory=setup/spp_area
git+https://github.com/OpenSPP/openspp-registry@rc/15.0.1.0.16#subdirectory=setup/spp_service_points
git+https://github.com/OpenSPP/openspp-registry@rc/15.0.1.0.16#subdirectory=setup/spp_scan_id_document
git+https://github.com/OpenSPP/openspp-registry@rc/15.0.1.0.16#subdirectory=setup/spp_idqueue
git+https://github.com/OpenSPP/openspp-registry@rc/15.0.1.0.16#subdirectory=setup/spp_idpass
git+https://github.com/OpenSPP/openspp-registry@rc/15.0.1.0.16#subdirectory=setup/spp_change_request
